#header-container {
  height: 84vh;
  padding: 100px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  background: radial-gradient(at top left, #629a92 36%, #02d2a0 69%, #fff 24%);
}

#header-page-title {
  width: 100%;
}

#header-page-title h1 {
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  margin-top: -50px;
  margin-bottom: 30px;
}

#header-page-title h1 span {
  text-shadow: 3px 2px 4px rgb(115, 115, 243);

  font-weight: 650;
}

#header-page-title p {
  font-size: 1.32rem;
  color: white;
  margin-bottom: 40px;
}

#header-subscribe-form input {
  text-align: center;
  padding: 10px;
  background-color: #e8ebf8;
  border-radius: 5px;
  border: 0;
}

#header-subscribe-form input:nth-child(2) {
  background-color: rgb(115, 115, 243);
  color: white;
  font-weight: 900;
  border: none;
}

#header-page-image img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; /* Adjust as needed */
}

.awesome-feature {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 50px;
}

#feature-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#feature-text p {
  font-size: 0.9rem;
  color: gray;
}

/* Card Animation */
ul.cards-split {
  width: 660px;
  height: 280px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 170px 40px;
  padding: 20px;
  cursor: pointer;
}

/* Card Height and Width */
ul.cards-split li.card {
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards-split li.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

ul.cards-split li.card img {
  max-width: 100%;
  height: auto;
}

/* Card Height and Width over */
.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: 100%;
}
.content h4 {
  padding-top: -2px;
  padding-bottom: -5px;
  font-weight: 600;
}

.content {
  color: grey;
  text-align: center;
  padding: 20px;
}
.content p {
  font-size: 13px;
}

.btn {
  background-color: #54b8be;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(37, 150, 190);
}

/* Card Rotation Starts */

ul.cards-split li.card.card-1 {
  z-index: 10;
  transform: rotateZ(-2deg);
  transition-delay: 0.5s;
}

ul.cards-split li.card.card-2 {
  z-index: 9;
  transform: rotateZ(-7deg);
  transition-delay: 0.8s;
}

ul.cards-split li.card.card-3 {
  z-index: 8;
  transform: rotateZ(5deg);
  transition-delay: 0.8s;
}

ul.cards-split li.card.card-4 {
  z-index: 7;
  transform: translateY(-200px) rotateY(5deg) rotateZ(5deg);
  transition-delay: 0.8s;
}

ul.cards-split li.card.card-5 {
  z-index: 6;
  transform: translateY(-200px) rotateY(5deg) rotateZ(5deg);
  transition-delay: 0.8s;
}

ul.cards-split li.card.card-6 {
  z-index: 4;
  transform: translateY(-200px) rotateY(5deg) rotateZ(15deg);
  transition-delay: 0.8s;
}

ul.cards-split.transition li.card {
  transform: rotateZ(0deg);
}

ul.cards-split.transition li.card.card-1 {
  left: 0px;
}

ul.cards-split.transition li.card.card-2 {
  /* left: 440px; */
}

ul.cards-split.transition li.card.card-3 {
  left: 440px;
}
ul.cards-split.transition li.card.card-4 {
  top: 230px;
  left: -0px;
}
ul.cards-split.transition li.card.card-5 {
  top: 230px;
}
ul.cards-split.transition li.card.card-6 {
  top: 230px;
  left: 440px;
}

ul.cards-split-delay {
  width: 660px;
  height: 280px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
  cursor: pointer;
}

ul.cards-split-delay li.card {
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  box-shadow: 1px 2px 2px 0 #aaa;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards-split-delay li.card img {
  max-width: 100%;
  height: auto;
}
ul.cards-split-delay li.card.card-1 {
  z-index: 10;
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}

ul.cards-split-delay li.card.card-2 {
  z-index: 9;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

ul.cards-split-delay li.card.card-3 {
  z-index: 8;
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

ul.cards-split-delay li.card.card-4 {
  z-index: 7;
  -webkit-transform: rotateY(5deg) rotateZ(5deg);
  transform: rotateY(5deg) rotateZ(5deg);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

ul.cards-split-delay li.card.card-5 {
  z-index: 6;
  -webkit-transform: rotateY(5deg) rotateZ(5deg);
  transform: rotateY(5deg) rotateZ(5deg);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

ul.cards-split-delay li.card.card-6 {
  z-index: 5;
  -webkit-transform: rotateY(5deg) rotateZ(15deg);
  transform: rotateY(5deg) rotateZ(15deg);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

ul.cards-split-delay.transition li.card {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
ul.cards-split-delay li.card.card-1 {
  z-index: 10;
  transform: rotateZ(-2deg);
}

ul.cards-split-delay li.card.card-2 {
  z-index: 9;
  transform: rotateZ(-7deg);
  transition-delay: 0.5s;
}

ul.cards-split-delay li.card.card-3 {
  z-index: 8;
  transform: rotateZ(5deg);
  transition-delay: 0.5s;
}

ul.cards-split-delay li.card.card-4,
ul.cards-split-delay li.card.card-5,
ul.cards-split-delay li.card.card-6 {
  z-index: 7;
  transform: rotateY(5deg) rotateZ(5deg);
  transition-delay: 0.5s;
}

/* Transition state for cards 4, 5, 6 */
ul.cards-split-delay.transition li.card.card-4 {
  transform: translateX(-150px) rotateY(5deg) rotateZ(5deg);
  transition-delay: 0.3s;
}

ul.cards-split-delay.transition li.card.card-5 {
  transform: translateY(-100px) rotateY(5deg) rotateZ(5deg);
  transition-delay: 0.4s;
}

ul.cards-split-delay.transition li.card.card-6 {
  transform: translateX(150px) rotateY(5deg) rotateZ(15deg);
  transition-delay: 0.5s;
}

/* Card Animation Ends */
