.team {
  padding: 18.2px 0;
  overflow: hidden;
}

.section_bg {
  background-color: #f3f5fa;
}

.team_container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.member {
  display: flex;
  /* flex-direction: column; Display member information vertically on small screens */
}

.member .pic {
  flex-shrink: 0;
  margin-bottom: 20px; /* Adjust margin for better spacing */
}

.section_title {
  text-align: center;
  padding-bottom: 30px;
}

.section_title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section_title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section_title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section_title p {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col_lg_6 {
  width: 100%; /* Full width on small screens */
  margin-bottom: 30px;
}

.member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.member .pic img {
  transition: ease-in-out 0.3s;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.member:hover {
  transform: translateY(-10px);
}

.member_info {
  padding-left: 30px;
}

.member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #37517e;
}

.member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
  margin-right: 8px;
}

.member .social a {
  color: #37517e;
  font-size: 16px;
}

.member .social a:hover {
  background: #47b2e4;
}

.member .social a:hover {
  color: #fff;
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) {
  .col_lg_6 {
    width: calc(50% - 15px);
  }
}
/* Media Query for Mobile Screens */
@media screen and (max-width: 767px) {
  .col_lg_6 {
    width: 100%; /* Full width on mobile screens */
    margin-bottom: 15px; /* Adjust margin for better spacing */
  }

  .member .pic {
    margin-right: 0; /* No margin for images on mobile screens */
  }

  .member_info {
    padding-left: 0; /* No padding for member info on mobile screens */
  }
}
